name: Publish-HuaWei

on:
  push:
    branches: [ "**" ]
    tags: [ "v*.*.*" ]  
  pull_request:
    types: [ opened,synchronize ]
    branches: [ "master" ]
  workflow_dispatch:  # 允许手动触发该工作流

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Docker meta
        id: meta  # 给步骤设置 ID，方便后续步骤引用输出
        uses: docker/metadata-action@v5
        with:
          images: swr.cn-east-3.myhuaweicloud.com/dongjun/flask-demo  # 打包后的容器镜像名
          tags: |
            type=ref,event=branch  # 基于分支名生成标签
            type=semver,pattern={{version}}  # 基于语义化版本标签生成完整版本号（如v1.2.3对应的标签为1.2.3）
            type=sha  # 基于Git提交哈希生成标签

      - name: Login to HuaWei Container Registry
        if: github.event_name != 'pull_request'  # 只有当触发事件不是PR时才执行，即如果为PR事件则不会登录
        uses: docker/login-action@v3
        with:
          registry: swr.cn-east-3.myhuaweicloud.com  # 远程仓库登录地址
          username: ${{ secrets.HUAWEI_USERNAME }}
          password: ${{ secrets.HUAWEI_PASSWORD }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3  # 使用QEMU插件，解决架构兼容性问题，使不同架构的镜像构建成为可能

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3  # 使用Buildx插件提供高级构建功能，优化构建流程和性能

      - name: Build and push
        uses: docker/build-push-action@v6  # 因为该插件是基于Buildx构建镜像的所以需要上面的步骤，且会自动克隆仓库到当前工作环境中
        with:
          push: ${{ github.event_name != 'pull_request' }}  # 仅当非PR事件时才推送镜像，即PR事件只构建镜像不推送
          tags: ${{ steps.meta.outputs.tags }}  # 使用步骤1生成的标签（从 meta 步骤的输出中获取）
          platforms: linux/amd64
